body {
  margin: 0;
}
@font-face {
  font-family: "LibreFont";
  src: url("../../assets/fonts/libre-font.ttf");
}
@font-face {
  font-family: "montserrat";
  src: url("../../assets/fonts/montserrat.ttf");
}
#app {
  height: 100vh;
  display: flex;
  background-color: #585858;
  #side-bar,
  #side-bar-close {
    height: 100%;
    .v-card {
      background-color: #cae0bc;
    }
  }
}
.toasted{
  font-family: montserrat;
}
.v-dialog {
  .dialog-update{
    .v-card{
      box-shadow: unset !important;
    }
  }
  .dialog-delete, .dialog-update{
    background-color: #373737;
    border: 2px solid #505050;
    border-radius: 15px;
    padding: 11px;
    display: flex;
    flex-direction: column;
    h1{
      text-align: center;
      font-family: montserrat;
      font-size: 25px;
      color: #fff;
    }
    .buttons{
      align-self: flex-end;
      .v-btn{
        margin: 10px;
        border-radius: 10px;
        span{
          text-transform: capitalize;
          font-family: montserrat;
          font-weight: bold;
        }
        &:hover{
          background-color: #373737;
          border: 1px solid #fff;
          span{
            color: #fff;
          }
        }
      }
    }
  }
  .v-card {
    background-color: #373737 !important;
    .v-card__title {
      font-family: "montserrat" !important;
      color: #fff;
      margin-bottom: 20px;
      font-weight: bold;
    }
    .v-label {
      color: #fff !important;
    }
    .v-text-field{
      margin-top: 10px;
      border-radius: 10px;
      .v-input__slot{
        background-color: #585858 !important;
        input{
          color: #fff !important
        }
      }
    }
  }
}
body::-webkit-scrollbar {
  width: 2px;
  background-color: #585858;
}
